I-RES2.sdf
ipch/
I-RES2/Debug/
I-RES2/x64/Release/ClassView.obj
I-RES2/x64/
x64/Release/I-RES2.pdb
x64/Release/I-RES2.lib
x64/Release/I-RES2.exp
x64/Debug/I-RES2.exp
x64/Debug/I-RES2.ilk
x64/Debug/I-RES2.lib
x64/Debug/I-RES2.pdb
x64/Release/I-RES2.iobj
x64/Release/I-RES2.ipdb
.vs/
I-RES2.opensdf
SetupIRES/Release/setup.exe
SetupIRES/Release/SetupIRES.msi
x64/Debug/I-RES2.exe
x64/Release/ice_result_ires.OUT
I-RES2/I-RES2View.h.orig
x64/Release/ice_result_1.OUT
I-RES3/x64/
x64/Release/I-RES3.ipdb
x64/Release/I-RES3.iobj
x64/Release/I-RES3.pdb
x64/Release/I-RES3.lib
x64/Release/I-RES3.exp
x64/Release/I-RES3.exe
TestCalc/x64/Release/
*.pdb
*.ipdb
*.iobj
SetupIRES/Release.zip
x64/Release/hull.osg
SetupIRES/IRES2_20200417.zip
SetupIRES/Release/SetupIRES.tmp
SetupIRES/IRES2_20200511.zip
SetupIRES/IRES2_20200528.zip
SetupIRES2020.exe
I-RES2_2020_0715_test.mp4
I-RES2_2020_0715.zip
x64/Release/R-4.0.2.zip
x64/Release/R-4.0.2/
x64/Release/osgPlugins-3.6.2.zip
SetupIRES/IRES2_20200428.zip
SetupIRES2020.zip
